/* hi :D */
body {
    font-family: sans-serif;
    margin:auto;
    font-size:20px;
    padding:20px;
    color:#cdd6f4;
    background-color:#1e1e2e;
    max-width:90vw;
}
div.flex {
    display:flex;
}
img#goober {
    width:20vw;
    height:20vw;
}
img {
    max-width:80vw;
    border-style:solid;
    border-color:#bac2de;
    margin:5px;
}
img.icon {
    height:50px;
    width:50px;
    border:none;
}
div.linktext {
    padding-left:50px;
}
a {
    text-decoration:none;
    color:#94e2d5;
}
a:hover {text-decoration:underline;}
div.header {
    position:sticky;
    top:0;
    background-color:#1e1e2e;
    border-bottom-style: solid;
    border-bottom-color:#f9e2af;
}
a.b {color:#5bcffa;}
a.p {color:#f5c2e7;}
a.w {color:white;}
li.b {color:#5bcffa;}
li.p {color:#f5c2e7;}
li.g1 {color:#00a032;}
li.g2 {color:#91d472;}
li.w {color:white;}
li.grey {color:#a8a8a8;}
li.bl {color:#000000;}
h1 {
    text-align:center;
    color:#f5c2e7;
}
h2 {color:#f5c2e7;}

div.header nav {
    padding:20px 0px 5px 0px;
    display:inline-block;
}
div.header nav ul {
    padding:0px;
}
div.header nav ul li {
    display:inline-block;
    padding-right:20px;
}
div.header a {
    color:#89b4fa;
    text-decoration:none;
}
div.header a:hover {
    text-decoration:underline;
}
div.header a:active {
    color:#f38ba8;
}

